@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap");

:root {
  --extra-light: #f1eaf0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-image: url("../images/home.mp4");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: relative;
  padding: 0 2rem;
}

nav {
  height: 80px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--extra-light);
}

.nav__links {
  position: absolute;
  right: 0;
  top: 80px;
  width: 100%;
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color:#6d1a36;
}

.open {
  display: flex;
}

.nav__links .link {
  font-size: 1.25rem;
  color: var(--extra-light);
  text-align: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav__links .link:hover {
  background-color: #6d1a36;
}

.toggle__btn {
  display: block;
  color: var(--extra-light);
  font-size: 2rem;
}

.hero {
  max-width: 1200px;
  height: calc(100vh - 80px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--extra-light);
}

.hero h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1rem;
}

.hero h1 {
  font-size: 6rem;
  font-weight: 700;
}

.hero button {
  width: 150px;
  padding: 0.75rem;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.hero button:hover {
  background-color: #6d1a36;
  color: #fff;
  transform: translateY(-3px);
}


@media screen and (min-width: 640px) {
  .nav__links {
    width: 250px;
  }

  .hero {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .nav__links {
    position: unset;
    width: unset;
    flex-direction: row;
    gap: 0.5rem;
    display: flex !important;
    background: transparent;
  }

  .toggle__btn {
    display: none;
  }

  .hero h2 {
    font-size: 7rem;
    text-shadow: 3px 3px 10px #6d1a36;
    line-height: 1;
  }

  .hero h1 {
    font-size: 9rem;
    text-shadow: 3px 3px 10px #6d1a36;
  }


  .hero button {
    width: 350px;
    padding: 1.75rem;
    background-color: #f7b7a3;
    color: #6d1a36;
  }
}
